:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121212; /* A dark grey for the main app area */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000000; /* Pure black for OLED */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  display: flex;
}

#sidebar {
  width: 22rem;
  background-color: #1e1e1e; /* Darker grey for sidebar */
  border-right: solid 1px #333;
  display: flex;
  flex-direction: column;
}

#sidebar h1 {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1rem;
  padding: 0 1rem;
  color: #fff;
}

#sidebar nav {
  flex: 1;
  overflow: auto;
  padding-top: 1rem;
}

#sidebar nav a {
  text-decoration: none;
  display: block;
  padding: 0.5rem 2rem;
  color: #c5c5c5;
  transition: background-color 0.2s, color 0.2s;
}

#sidebar nav a:hover {
    color: #ffffff;
    background-color: #333;
}

#sidebar nav a.active {
  background: hsl(224, 98%, 58%);
  color: white;
}

#detail {
  flex: 1;
  padding: 2rem;
  width: 100%;
  color: #c5c5c5;
  background-color: #121212;
}